.invalid-exercise {
  color: red;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.outer {
  min-height: 100vh;
}

/* .form input {
  background-color: #242424;
  color: #959595;
} */

.form div {
  background-color: #242424;
  color: #959595;
}

.form label {
  color: #959595;
}

.sets div {
  background-color: #242424;
  color: #959595;
  border: #161616;
}

.setHeaders {
  color: #959595;
}

.saveButton {
  display: flex;
  justify-content: space-between;
  mt: 3;
  mb: 2;
  padding: 1rem 1rem 1rem 1rem;
  color: #161616;
  background: linear-gradient(
    90deg,
    #03dac5,
    #56ca82,
    #89b33e,
    #b59500,
    #da6b03
  );
  font-family: "Montserrat";
}

.add button {
  color: #161616;
  background-color: #03dac5;
  border-radius: 50px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add button:hover {
  background-color: #03dac5;
  border-radius: 50px;
  font-weight: bold;
}

.dialog input {
  background-color: #161616;
  color: white;
}

.dialog {
  background-color: #161616;
  color: white;
}

.dialog p {
  background-color: #161616;
  color: white;
}

.dialog label {
  background-color: #161616;
  color: white;
}

.dialog button {
  background-color: #161616;
  color: white;
}

.dialog th {
  background-color: #161616;
  color: white;
}

.dialog td {
  background-color: #161616;
  color: white;
}

.workoutContainer {
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.exercisesText {
  display: flex;
  font-family: "Montserrat";
  margin: 10px;
  padding: 5px;
}

.setsText {
  display: flex;
  font-family: "Montserrat";
  text-indent: 80px;
  margin: 10px;
  padding: 5px;
}

.setsContainer {
  white-space: nowrap;
}

.editSets {
  background-color: #161616;
  color: #161616;
}
/* sx={
  {
    // "&.MuiButton-text": { color: "#808080" },
    // border: "2px black solid"
  }
} */
