
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  margin: 0;
  /* Font of some sort */
  font-family: "Montserrat", sans-serif;
  color: #e8e8e8;
  background-color: #161616;
  /* background-color: #e8e8e8; */
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.sets {
  color: #959595
}
