.group:hover {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
}

.groupContainer {
  display: flex;
  flex-flow: column;
  width: 95%;
  height: 85vh;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #262626;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.header {
  margin: 0;
  font-size: 38px;
  color: #fafafa;
  font-weight: 700;
  margin-bottom: 1rem;
}

.friendsContainer a {
  text-decoration: none;
  color: #fafafa;
}

.friendsContainer {
  overflow: auto;
}

.friends {
  display: flex;
  flex-flow: column;
  height: 70vh;
  background-color: #242424;
  border-radius: 10px;
}

.friendsContainer::-webkit-scrollbar {
  width: 5px;
}

.friendsContainer::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

.friendsTabs button {
  width: 50%;
  height: 100%;
  border: 1px solid #161616;
  padding: 0.5rem 3rem;
  background-color: #262626;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friendsTabs .active {
  color: #03dac5;
  background-color: #212121;
}

.friendsTabs button p {
  margin: 0;
  color: #03dac5;
  font-weight: 800;
  height: 20px;
}

#noNewReqs {
  color: #fafafa;
}

.emailIcon {
  display: flex;
}

.friend {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  background-color: #202020;
  transition: background-color 0.3s;
  border-top: 1px solid #161616;
}

.friend:last-child {
  border-bottom: 1px solid #161616;
}

.friend:hover {
  background-color: #161616;
}

#icon {
  width: 40px;
  height: 40px;
}

.searchUsers {
  margin: 1rem 0;
}

.searchResults {
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestContainer {
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
}

.requestContainer a {
  color: #fafafa;
  text-decoration: none;
}

.request {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  gap: 0.5rem;
  background-color: #202020;
  border-top: 1px solid #161616;
  transition: background-color 0.3s;
}

.request:last-child {
  border-bottom: 1px solid #161616;
}

.request:hover {
  background-color: #161616;
}

.requestBtns {
  display: flex;
  padding: 0;
}

.requestBtns .requestBtn {
  padding: 0;
}

.noRequests {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.feedContainer {
  display: flex;
  width: 70%;
  height: 70vh;
  background-color: #242424;
  padding: 1rem;
  border-radius: 10px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.feed {
  display: flex;
  flex-flow: column;
  height: 300px;
  gap: 2rem;
  padding: 1rem;
}

.mainFeed {
  margin-right: auto;
}

.feedContainer::-webkit-scrollbar {
  width: 15px;
}

.feedContainer::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

.workout {
  background-color: #191919;
  border-radius: 15px;
  padding: 1rem;
}

.workoutContainer p {
  margin: 0;
}

.workoutContainer {
  z-index: 0;
}

.workoutHeader {
  display: flex;
  justify-content: space-between;
}

.feedUsername {
  font-weight: 500;
}

.date {
  color: #b6b6b6;
  font-size: 14px;
}

.details {
  display: flex;
  justify-content: space-between;
}

.duration {
  display: flex;
}

.viewWorkoutBtn {
  background-color: #03dac5;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #191919;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.noFriends {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.noFriends p {
  margin: 0;
}

.noFeed {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.myWorkout {
  position: relative;
  float: right;
  right: 0;
}
