.group:hover {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
}

.groupContainer {
  display: flex;
  flex-flow: column;
  width: 95%;
  height: 85vh;
  margin: 1rem;
  padding: 1rem;
  background-color: #262626;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.header {
  margin: 0;
  font-size: 38px;
  color: #fafafa;
  font-weight: 700;
  margin-bottom: 1rem;
}

.friendsContainer a {
  text-decoration: none;
  color: #fafafa;
}

.friendsContainer {
  overflow: auto;
  padding: 0.2rem 0.5rem;
}

.friends {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.friendsContainer::-webkit-scrollbar {
  width: 5px;
}

.friendsContainer::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

.friendsTabs button {
  width: 50%;
  height: 100%;
  border: 1px solid #161616;
  border-bottom: none;
  padding: 0.5rem 3rem;
  background-color: #202020;
}

.friendsTabs button:first-child {
  transform: translateY(-2px);
  border-top-left-radius: 10px;
}
.friendsTabs button:last-child {
  border-top-right-radius: 10px;
}

.friendsTabs .active {
  color: #03dac5;
  background-color: #1a1a1a;
}

.friendsTabs button p {
  margin: 0;
  color: #03dac5;
  font-weight: 800;
  height: 20px;
}

#noNewReqs {
  color: #fafafa;
}

.emailIcon {
  display: flex;
}

.friend {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 1rem;
  background-color: #1a1a1a;
  transition: background-color 0.3s;
  border-top: 1px solid #141414;
  border-radius: 5px;
}

.friend:last-child {
  border-bottom: 1px solid #161616;
}

.friend:hover {
  background-color: #161616;
}

#icon {
  width: 45px;
  height: 45px;
}

.searchUsers {
  margin: 1rem 0;
}

.searchResults {
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestContainer {
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
  padding: 0.3rem;
}

.requestContainer a {
  color: #fafafa;
  text-decoration: none;
}

.request {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  gap: 0.5rem;
  background-color: #1a1a1a;
  border-radius: 10px;
  border-top: 1px solid #141414;
  transition: background-color 0.3s;
}

.request:last-child {
  border-bottom: 1px solid #141414;
}

.request:hover {
  background-color: #161616;
}

.requestBtns {
  display: flex;
  padding: 0;
}

.requestBtns .requestBtn {
  padding: 0;
}

.noRequests {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.feedContainer {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 1rem;
  border-radius: 10px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.feed {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 1rem;
}

.mainFeed {
  width: 100%;
}

.feedContainer::-webkit-scrollbar {
  width: 15px;
}

.feedContainer::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.workout {
  width: 70%;
  background-color: #0c0c0c;
  border-radius: 5px;
  /* padding: 1rem; */
}

.workoutContainer p {
  margin: 0;
}

.workoutContainer {
  z-index: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.workoutHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 20px;
  background-image: linear-gradient(
    to right top,
    #0c0c0c,
    #0f0f0f,
    #121212,
    #141414,
    #161616,
    #161616,
    #161616,
    #161616,
    #141414,
    #121212,
    #0f0f0f,
    #0c0c0c
  );
}

.postContent {
  padding: 1rem;
}

.feedUsername {
  font-weight: 500;
}

.date {
  display: flex;
  align-items: center;
  color: #b6b6b6;
  font-size: 14px;
}

.details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.details p:first-child {
  font-size: 24px;
  font-weight: 500;
}

.details p:last-child {
  transform: translateY(3px);
}

.duration {
  display: flex;
}

.viewWorkoutBtn {
  background-color: #1a1a1a;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #03dac5;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.endOfFeed {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #03dac5;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.endOfFeed span {
  background-color: #1a1a1a;
  padding: 0 10px;
  font-weight: 500;
}

.noFriends {
  padding: 3rem 0rem;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.noFriends p {
  margin: 0;
}

.noFeed {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.myWorkout {
  position: relative;
  float: right;
  right: 0;
}

.avatar {
  border-radius: 50%;
}

.likes {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
