.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  animation: modal-load 0.7s;
  z-index: 1;
}

.box {
  position: fixed;
  background-color: #191919;
  padding: 5rem;
  width: 500px; /* fixed px for testing, can be changed */
  height: auto;
  align-self: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cancelBtn {
  width: 20%;
  border: solid 1px #03dac5;
  background-color: #191919;
  color: #e8e8e8;
  border-radius: 16px;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s;
}

.cancelBtn:hover {
  color: #191919;
  background-color: #03dac5;
  border-color: #191919;
}

.emailInput {
  margin-top: 0.5rem;
  background-color: #262626;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 16px;
  color: #e8e8e8;
  width: 100%;
  margin-bottom: 1rem;
}

.sendBtn {
  padding: 0.5rem;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #03dac5,
    #56ca82,
    #89b33e,
    #b59500,
    #da6b03
  );
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

@keyframes modal-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dummyContainer {
  min-height: 100vh;
}
