.header {
  margin: 0.5rem;
}

.container {
  position: fixed;
  width: 640px; /* fixed px for testing, can be changed */
  height: auto;
  align-self: center;
  animation: modal-load 0.7s;
  z-index: 1;
}

@keyframes modal-load {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modalContainer {
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color: #202020;
  padding: 2rem;
  border-radius: 8px;
}

.exerciseBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  background-color: #191919;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.setsBox {
  text-align: center;
}

.setsItem {
  text-align: center;
}

.closeBtn {
  border: solid 1px #03dac5;
  background-color: #242424;
  border-radius: 1rem;
  width: 2rem;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 1rem;
  color: #e8e8e8;
}

.btnBox {
  display: flex;
  justify-content: flex-end;
}
